<div class="formy left">
  <h2>Sign in</h2>

  <%= form_tag(sessions_path) do %>
    <div class="field">
      <%= text_field_tag(:email, nil, :placeholder => "Email") %>
    </div>

    <div class="field">
      <%= password_field_tag(:password, nil, :placeholder => "Password") %>
    </div>

    <div class="button left">
      <%= submit_tag('Send') %>
    </div>
  <% end %>
</div>

