<div id="forums">
  <% for forum in @forums %>
    <div class="forum">
      <h2>
        <%= link_to(forum.name, forum) %>
        <%= forum.desc %>
      </h2>

      <div class="topics-count">
        <%= pluralize(forum.topics.count, "topic") %>
      </div>

      <div class="messages-count">
        <%= pluralize(forum.messages.count, "message") %>
      </div>

      <div class="recent-message">
        <%= forum.recent_message.user.email if forum.recent_message %>
      </div>
    </div>
  <% end %>
</div>

<% if admin? %>
  <div class="actions">
    <p><%= link_to("New forum", new_forum_path) %></p>
  </div>
<% end %>

