<div class="formy left">
  <h2>New forum</h2>

  <%= form_for(@forum) do |f| %>
    <div class="field">
      <%= f.text_field :name, :placeholder => "Name" %>
    </div>

    <div class="field">
      <%= f.label :desc, "Description" %><br>
      <%= f.text_area :desc, :size => "80x8" %>
    </div>

    <div class="button">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>

