<div class="crumbs">
  <%= link_to(@forum.name, @forum) %>
</div>

<h2>Topics</h2>

<div class="actions">
  <p>
  <%= link_to("New topic", new_topic_path(:forum_id => @forum.id)) %>
  </p>
</div>

<% for topic in @forum.topics %>
  <div class="topic">
    <h3><%= link_to(topic.title, topic) %></h3>
    <div class="starter">
      by <span><%= topic.user.email %></span>
    </div>
  </div>
<% end %>

