<div class="crumbs">
  <%= link_to(@topic.forum.name, @topic.forum) %> &raquo;
  New topic
</div>

<div class="formy left">
  <h2>New topic</h2>

  <%= form_for(@topic) do |f| %>
    <div class="field">
      <%= f.text_field :user_id, :placeholder => "User ID" %>
    </div>

    <div class="field">
      <%= f.text_field :title, :placeholder => "Title" %>
    </div>
    
    <div class="field">
      <%= f.text_area :content %>
    </div>

    <div class="button">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>

