<div class="crumbs">
  <%= link_to(@topic.forum.name, @topic.forum) %> &raquo;
  <%= @topic.title %>
</div>

<div id="messages">
  <h2><%= @topic.title %></h2>
  <div class="message">
    <div class="content">
      <%= @topic.content %>
    </div>
    <div class="meta">
      <span class="poster"><%= @topic.user.email %></span>
      <span class="date"><%= time_ago_in_words(@topic.created_at) %> ago</span>
    </div>
  </div>

  <% for message in @topic.messages %>
    <div class="message">
      <div class="content">
        <%= message.content %>
      </div>
      <div class="meta">
        <span class="poster"><%= message.user.email %></span>
        <span class="date"><%= time_ago_in_words(message.created_at) %> ago</span>
      </div>
    </div>
  <% end %>
</div>

<div class="formy">
  <%= form_for([@topic, Message.new]) do |f| %>
    <h3>Reply to this topic</h3>
    <%= f.text_field :user_id %>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content, :size => "80x8" %>
    </div>

    <div class="button">
      <%= f.submit "Reply" %>
    </div>
  <% end %>
</div>

