<div class="formy left">
  <h2>Sign up</h2>

  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div class="errors">
        <h3>Errors</h3>

        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :email, :placeholder => "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>

    <div class="button left">
      <%= f.submit "Send" %>
    </div>
  <% end %>
</div>

