$messages_width: 80%;

@mixin input-styling {
  border-top: 1px solid #666;
  border-left: 1px solid #999;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #aaa;
  box-shadow: inset 2px 1px 1px #ddd;
}

body {
  width: 60em;
  margin: 0 auto;
  padding: 0 2em;
  font-family: 'helvetica neue', helvetica, sans-serif;
}

h1, h2, h3 {
  color: #444;
}

.user-nav {
  text-align: right;
}

.forum {
  padding-bottom: 1em;
  border-bottom: 1px solid #333;
}

.topic {
  margin: 0 0 2em 0;
}

.topic .starter {
  font-size: .8em;
  margin-top: -1em;
}

.message {
  padding: 1em;
  font-size: .8em;
  line-height: 1.5;
  margin: 0 0 1em 0;
  position: relative;
  border-bottom: 1px solid #999;
  font-family: 'helvetica neue', helvetica;
}

.message span {
  display: block;
}

.message .content {
  width: $messages_width;
  margin-left: 100% - $messages_width;
}

.message .meta {
  top: 1em;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100% - $messages_width;
}

.message:last-child {
  border: none;
}

.formy {
  $ta-padding: .3em;
  width: $messages_width;
  margin: 1em 0 1em 20%;

  .field {
    margin-bottom: 1em;

    input {
      padding: .3em .5em;
      @include input-styling;
    }
  }

  label {
    color: #444;
  }

  textarea {
    color: #333;
    width: 100%;
    max-width: 100%;
    padding: $ta-padding;
    margin-top: .3em;
    @include input-styling;
  }

  .button {
    text-align: right;
    margin-right: -2 * $ta-padding;
  }

  input[type=submit] {
    color: #333;
    padding: .5em 1.3em;
    border: 1px solid #999;
    background: #eee;
    box-shadow: inset 0 0 3px #aaa;
  }
}

.left {
  margin-left: 0;
}

.actions a {
  font-size: .8em;
}

.actions a:hover {
  color: darken(#920, 10%);
}

.button.left {
  text-align: left;

  input {
    width: 8em;
  }
}

.field_with_errors {
  input {
    border-color: red;
  }
}
