<!DOCTYPE html>
<html>
  <head>
    <title>Kustelu</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
    <h1><%= link_to("Kustelu", root_path) %></h1>
    </header>

    <div class="user-nav">
      <% if current_user %>
        <p>
        <%= current_user.email %> (<%= current_user.role %>) |
        <%= link_to("logout", logout_path) %>
        </p>
      <% else %>
        <%= link_to("login", login_path) %>
      <% end %>
    </div>

    <% flash.each do |type, msg| %>
      <%= content_tag(:div, msg, :class => "flash #{type}") %>
    <% end %>

    <%= yield %>

  </body>
</html>
